HELP.md
.gradle
.idea
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
application.properties
.DS_Store


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
application.yml
application-local.yml
application-pub.yml
application.properties
.DS_Store
ChatMessageListener.java
config
RabbitmaConfig.java
WebSocketConfig.java
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
application-prod.yml
application.properties
.DS_Store

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
application.properties
application-prod.yml
.DS_Store

### VS Code ###
.vscode/
application.properties
application-prod.yml
.DS_Store
